html, body { margin:0; padding: 0}

.top-bar {
  background: black;
  color: white;
  padding: 10px;
  margin-bottom:10px;
}

nav a {
  padding: 10px;  
}

nav a.active {
  color: yellow;
  background:blue;
}

.content {
  padding:10px;
}
